<h2>{{first}} {{last}}</h2>
<form action="">
  <fieldset class="info {{showing}}">
    <input type="text" value={{first}} name="first">
    <br>
    <input type="text" value={{last}} name="last">
    <br />
    <input type="text" value="31" name="age">
  </fieldset>
</form>